
html, body {
  margin: 0px;
  background-color: #012;
}

* {box-sizing: border-box;}

.hidden {
  display: none !important;
}

#source-code {
  color: #0f0;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: auto;
}

.pop-up-script {
  border: 1px solid #0f0;
  background-color: #012;
  box-shadow: 0 0 0 3px #000;

  padding: 5px;
  display: block;
  position: fixed;
  overflow: auto;

  color: #0f0;
  font-family: monospace;
  font-size: 12px;
}

.pop-up-loader {
  border: 1px solid #0f0;
  background-color: #012;
  box-shadow: 0 0 0 3px #000;

  padding: 5px;
  display: block;
  position: fixed;
  overflow: auto;

  color: #0f0;
  font-family: monospace;
  font-size: 12px;
}

.pop-up-loader div {
  display: inline-block;
  height: 100%;
  background-color: #0f0;
}

#programs {
  position: fixed;
  bottom: 0px;
  right: 0px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#tournament-graph {
  border: 1px solid #0f0;
  /* background-color: #012; */
  box-shadow: 0 0 0 3px #000;
  margin: 5px;
}

#tensor-loader {
  width: 400px;
  height: 400px;

  border: 1px solid #0f0;
  /* background-color: #012; */
  box-shadow: 0 0 0 3px #000;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px;
}

.bar {
  display: flex;
  border: 1px solid #0f0;
}

.bar:empty {
  /* background-color: #0f0; */
}

.bar-row {
  flex-direction: row;
  height: 10%;
}

.bar-col {
  flex-direction: column-reverse;
  width: 10%;
  height: 100%;
  align-self: flex-end;
}

#sound-bar-graph {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-bar {
  flex: 1;
  background-color: #040;
  /* border-top: 4px solid #030; */
  /* border-bottom: 4px solid #030; */
}

#screen-lock {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: monospace;
  color: #0f0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  background-color: #012;
}

#server-farm {
  position: fixed;
  top: 0px;
  right: 0px;
  
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 310px;
}

.server {
  border: 1px solid #0f0;
  box-shadow: 0 0 0 3px #000;
  display: flex;
  padding: 10px;
  margin: 5px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #0f0;
}

.server-failing {
  border-color: #f00;
  color: #f00;
}

.server h4, span {
  font-family: monospace;
  margin: 0px;
}


